backups/reservas edit.json
{
  "updatedAt": "2025-12-29T18:03:02.148Z",
  "createdAt": "2025-11-02T22:43:55.763Z",
  "id": "BvP0H2yZy8KaEtXk",
  "name": "reservas edit",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -912,
        272
      ],
      "id": "ca41cc0d-b33d-4b20-91d2-49462314df6f",
      "name": "WhatsApp Trigger",
      "webhookId": "7c2d33fc-df4a-4fcf-adde-148082ef42f4",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "EtoSobgoXZ98tpfX",
          "name": "WhatsApp OAuth account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}.\ndia del mensaje: {{ $today }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente de recepción de un cibercafé.\nTu objetivo es capturar 3 datos para una reserva: \"fecha\", \"hora\" y \"cantidad\".\n\nIMPORTANTE: Hoy es {{ $now.toFormat('yyyy-MM-dd') }}.\n\nREGLAS DE LÓGICA:\n1.  **Formato de Fecha:** Todas las fechas DEBEN ser convertidas al formato YYYY-MM-DD. (ej: 'mañana' debe ser '{{ $now.plus({days: 1}).toFormat('yyyy-MM-dd') }}').\n2.  **Formato de Hora:** Todas las horas DEBEN ser convertidas a formato militar de 24 horas (HH:MM). (ej: '3pm' es '15:00', '10am' es '10:00').\n3.  Si el usuario saluda o no es relevante, responde: \"Hola. Soy tu asistente de reservas. ¿En qué puedo ayudarte?\"\n4.  Si faltan datos (ej: \"Quiero una reserva\"), pide todo: \"¡Claro! ¿Para qué fecha, hora y cuántas personas sería?\"\n5.  Si faltan datos parciales (ej: \"Mañana para 3 personas\"), pide lo que falta: \"Entendido. ¿Para qué hora sería la reserva?\"\n6.  Si tienes TODOS los datos (ej: \"Mañana a las 10 para 3\"), responde que vas a verificar: \"¡Perfecto! Un momento, estoy verificando la disponibilidad...\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        608,
        -16
      ],
      "id": "3fb6c385-9f54-4b2d-81ad-7960d9225580",
      "name": "AI Agent",
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        160
      ],
      "id": "d79f9e9a-ba1d-4901-a4b7-05a87286a8bc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2gNMMxMkQztWhzAB",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "Eres un asistente de recepción de un cibercafé.\nTu objetivo es capturar 3 datos para una reserva: \"fecha\", \"hora\" y \"cantidad\".\nTu respuesta debe ser *SIEMPRE* un único objeto JSON. No escribas nada más.\n\nEl JSON debe tener esta estructura:\n{\n  \"mensaje_para_usuario\": \"...\",\n  \"datos_completos\": false,\n  \"datos_extraidos\": {\n    \"fecha\": \"YYYY-MM-DD\" | null,\n    \"hora\": \"HH:MM\" | null,\n    \"cantidad\": null\n  }\n}\n\nREGLAS DE LÓGICA:\n1.  Si el usuario saluda o el mensaje no es relevante:\n    - \"mensaje_para_usuario\": \"Hola. Soy tu asistente de reservas. ¿En qué puedo ayudarte?\"\n    - \"datos_completos\": false\n\n2.  Si el usuario pide una reserva pero falta información (ej: \"Quiero una reserva\"):\n    - \"mensaje_para_usuario\": \"¡Claro! ¿Para qué fecha, hora y cuántas personas sería?\"\n    - \"datos_completos\": false\n\n3.  Si el usuario da información parcial (ej: \"Mañana para 3 personas\"):\n    - \"mensaje_para_usuario\": \"Entendido. ¿Para qué hora sería la reserva?\"\n    - \"datos_completos\": false\n    - \"datos_extraidos\": (llena lo que tengas, ej: \"fecha\": \"2025-11-09\", \"cantidad\": 3)\n\n4.  Si el usuario da *toda* la información (ej: \"Mañana a las 10 para 3\"):\n    - \"mensaje_para_usuario\": \"¡Perfecto! Un momento, estoy verificando la disponibilidad...\"\n    - \"datos_completos\": true\n    - \"datos_extraidos\": (llena todos los datos)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f55013ae-5eb5-4205-9c1d-1aa5083e3395",
              "leftValue": "={{ $json.messages[0].text.body}}",
              "rightValue": "reserva",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "66f6cf81-1b78-4912-adb4-ddb632b2ab56",
              "leftValue": "={{ $json.messages[0].text.body}}",
              "rightValue": "separar",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        208
      ],
      "id": "9b5e8bb0-5a9d-4e04-b1b5-5d81b02c6be3",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zfssfgwpyuajwhezwvoj.supabase.co/rest/v1/rpc/crear_reserva_ciber",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_usuario_id\": \"{{ $json.id }}\",\n  \"p_fecha\": \"{{ $('AI Agent').item.json.output.output.datos_extraidos.fecha }}\",\n  \"p_hora\": \"{{ $('AI Agent').item.json.output.output.datos_extraidos.hora }}\",\n  \"p_cantidad_solicitada\": {{ $('AI Agent').item.json.output.output.datos_extraidos.cantidad }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1584,
        -112
      ],
      "id": "730f4e8a-0227-4c34-9a71-e7a18b8ce7c2",
      "name": "HTTP Request",
      "credentials": {
        "supabaseApi": {
          "id": "RXdJo3uGOvZG9zGT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59ee58fe-703a-4c11-a915-d93ebe1efa33",
              "leftValue": "={{ $json.output.output.datos_completos }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        80
      ],
      "id": "903936ed-b9f3-4e74-aa8e-a7091e1f8bd2",
      "name": "If1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"output\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"mensaje_para_usuario\": {\n              \"type\": \"string\"\n            },\n            \"datos_completos\": {\n              \"type\": \"boolean\"\n            },\n            \"datos_extraidos\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"fecha\": {\n                  \"type\": \"string\"\n                },\n                \"hora\": {\n                  \"type\": \"string\"\n                },\n                \"cantidad\": {\n                  \"type\": \"number\"\n                }\n              }\n            }\n          },\n          \"required\": [\n            \"mensaje_para_usuario\",\n            \"datos_completos\",\n            \"datos_extraidos\"\n          ]\n        }\n      },\n      \"required\": [\"output\"]\n    }\n  },\n  \"required\": [\"output\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        784,
        176
      ],
      "id": "e3d9de3c-fd76-4a78-889e-1595ff8b970e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "usuarios",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telefono",
              "condition": "eq",
              "keyValue": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1136,
        -16
      ],
      "id": "e08afa93-2d13-4253-8594-abe6cd4a291b",
      "name": "Get many rows",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RXdJo3uGOvZG9zGT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f5d0410-65ff-4bdf-95e5-190440e0e69d",
              "leftValue": "={{ $json.telefono }}",
              "rightValue": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        -16
      ],
      "id": "bb506fb9-c33e-4a59-ba36-24c148b8fd37",
      "name": "If2"
    },
    {
      "parameters": {
        "tableId": "usuarios",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nombre",
              "fieldValue": "={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}"
            },
            {
              "fieldId": "telefono",
              "fieldValue": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1584,
        80
      ],
      "id": "1e5c059d-3ce3-4256-8509-5f60e6deb2ee",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "RXdJo3uGOvZG9zGT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zfssfgwpyuajwhezwvoj.supabase.co/rest/v1/rpc/crear_reserva_ciber",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_usuario_id\": \"{{ $json.id }}\",\n  \"p_fecha\": \"{{ $('AI Agent').item.json.output.output.datos_extraidos.fecha }}\",\n  \"p_hora\": \"{{ $('AI Agent').item.json.output.output.datos_extraidos.hora }}\",\n  \"p_cantidad_solicitada\": {{ $('AI Agent').item.json.output.output.datos_extraidos.cantidad }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1808,
        80
      ],
      "id": "8627766b-8f92-494b-9abc-7dcae5af68fb",
      "name": "HTTP Request1",
      "credentials": {
        "supabaseApi": {
          "id": "RXdJo3uGOvZG9zGT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $json.contacts[0].wa_id }}",
        "textBody": "=Hola. ¿En qué puedo ayudarte?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        624,
        384
      ],
      "id": "1e2f19fd-86d6-4b80-b19c-bdc011a9c9ca",
      "name": "Send message terminado",
      "webhookId": "64896f98-353e-4982-98ed-6523e0099dc3",
      "credentials": {
        "whatsAppApi": {
          "id": "KaWOvvgAWDzbRhnj",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output.output.mensaje_para_usuario }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1136,
        176
      ],
      "id": "141ea175-9922-47e6-9af3-2b0c2782e6a1",
      "name": "Send message falta de datos",
      "webhookId": "64896f98-353e-4982-98ed-6523e0099dc3",
      "credentials": {
        "whatsAppApi": {
          "id": "KaWOvvgAWDzbRhnj",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $('AI Agent').item.json.output.output.mensaje_para_usuario }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1808,
        -112
      ],
      "id": "b30d5900-8683-4229-b1e0-55f5e379cd45",
      "name": "Respuesta sin crear",
      "webhookId": "64896f98-353e-4982-98ed-6523e0099dc3",
      "credentials": {
        "whatsAppApi": {
          "id": "KaWOvvgAWDzbRhnj",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $('AI Agent').item.json.output.output.mensaje_para_usuario }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2032,
        80
      ],
      "id": "57dcd61c-1b3d-4afe-8ae7-597930a702dd",
      "name": "usuario creado",
      "webhookId": "64896f98-353e-4982-98ed-6523e0099dc3",
      "credentials": {
        "whatsAppApi": {
          "id": "KaWOvvgAWDzbRhnj",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $json.contacts[0].wa_id }}",
        "textBody": "=Por ahora solo puedo procesar mensajes de texto. ¡Escríbeme tu consulta!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -384,
        400
      ],
      "id": "ececf1e7-7c55-4829-a090-629aaee68626",
      "name": "Send message terminado1",
      "webhookId": "64896f98-353e-4982-98ed-6523e0099dc3",
      "credentials": {
        "whatsAppApi": {
          "id": "KaWOvvgAWDzbRhnj",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -160,
        208
      ],
      "id": "4611f406-2a2a-4da2-9e84-c917f348a469",
      "name": "Wait",
      "webhookId": "1355cc01-d753-4d41-88d7-79b0798b7d19"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zfssfgwpyuajwhezwvoj.supabase.co/rest/v1/rpc/upsert_buffer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_wa_id\": \"{{ $json.messages[0].from }}\",\n  \"p_nuevo_texto\": \"{{ $json.messages[0].text.body }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        208
      ],
      "id": "b138f637-9c4e-426f-bc89-2327442f6641",
      "name": "HTTP buffer mesages",
      "credentials": {
        "supabaseApi": {
          "id": "RXdJo3uGOvZG9zGT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f55013ae-5eb5-4205-9c1d-1aa5083e3395",
              "leftValue": "={{ $json.messages[0].type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        272
      ],
      "id": "8120b770-4792-4528-ae18-29cd672e1df9",
      "name": "If type mesage"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "temp_buffer",
        "filters": {
          "conditions": [
            {
              "keyName": "wa_id",
              "keyValue": "={{ $node[\"WhatsApp Trigger\"].json[\"messages\"][0][\"from\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        32,
        208
      ],
      "id": "bb78da88-f4f8-46be-a490-6b678b164eb1",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "RXdJo3uGOvZG9zGT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "549d50e5-3260-4836-ad11-e22cacac16a8",
              "leftValue": "={{ new Date($json.updated_at).getTime() }}",
              "rightValue": "={{ new Date($node[\"WhatsApp Trigger\"].json.messages[0].timestamp * 1000).getTime() }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        208,
        208
      ],
      "id": "04c7444e-b489-4c25-87ed-e777fbc4da39",
      "name": "Filter"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If type mesage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message terminado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respuesta sin crear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message falta de datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "usuario creado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message falta de datos": {
      "main": [
        []
      ]
    },
    "Respuesta sin crear": {
      "main": [
        []
      ]
    },
    "usuario creado": {
      "main": [
        []
      ]
    },
    "HTTP buffer mesages": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If type mesage": {
      "main": [
        [
          {
            "node": "HTTP buffer mesages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message terminado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f247ecf8-8478-4148-998c-cc0c0e34f394",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-02T22:43:55.771Z",
      "createdAt": "2025-11-02T22:43:55.771Z",
      "role": "workflow:owner",
      "workflowId": "BvP0H2yZy8KaEtXk",
      "projectId": "wXGdfvyT0OKSL0Hm"
    }
  ],
  "activeVersion": null,
  "tags": []
}