backups/telegran bot.json
{
  "json": {
    "updatedAt": "2026-03-09T20:56:16.003Z",
    "createdAt": "2026-03-09T20:14:59.436Z",
    "id": "SsWHInPbZGLKkPHo",
    "name": "telegran bot",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "986848a9-d0ad-4825-bedf-a7fd2af6be1f",
        "name": "Telegram Trigger",
        "webhookId": "3afe7993-d9b2-46f8-a6d6-eb72abf7cc1c",
        "credentials": {
          "telegramApi": {
            "id": "0h8bDSeO715m2cHu",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "operation": "sendPhoto",
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "file": "={{ $json.body.items[0].url }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          720,
          -16
        ],
        "id": "fa278fa0-b65a-4a67-bcd9-e922238f4eb1",
        "name": "Send a photo message",
        "webhookId": "2fa1ef12-0446-4770-a4e8-71eb6f831805",
        "credentials": {
          "telegramApi": {
            "id": "0h8bDSeO715m2cHu",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.waifu.im/images?IncludedTags=waifu",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          448,
          -16
        ],
        "id": "d3e4db12-6538-43bd-b000-5625a1bdca05",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "48e845e8-ba98-4797-b576-fbb6a136f07d",
                "leftValue": "={{ $json.message.text }}",
                "rightValue": "/img",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          192,
          0
        ],
        "id": "b5433df9-1068-4a1c-83a3-49a85618016b",
        "name": "If"
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "=Name: {{ $('HTTP Request').item.json.body.items[0].tags[0].name }}\nDescription: \n{{ $('HTTP Request').item.json.body.items[0].tags[0].description }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          944,
          -16
        ],
        "id": "7cc74bd8-d810-4739-be9d-5c76c9cd0b67",
        "name": "Send a text message",
        "webhookId": "2fa1ef12-0446-4770-a4e8-71eb6f831805",
        "credentials": {
          "telegramApi": {
            "id": "0h8bDSeO715m2cHu",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a photo message": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Send a photo message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "9a3e9fb6-f574-4fb0-b504-089a25b87121",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-09T20:14:59.452Z",
        "createdAt": "2026-03-09T20:14:59.452Z",
        "role": "workflow:owner",
        "workflowId": "SsWHInPbZGLKkPHo",
        "projectId": "SsTCDhE5BizkSpAs"
      }
    ],
    "activeVersion": null,
    "tags": []
  },
  "pairedItem": {
    "item": 0
  }
}