test/github.json
{
  "json": {
    "updatedAt": "2026-03-09T17:47:18.155Z",
    "createdAt": "2026-03-09T15:19:17.098Z",
    "id": "irLFahWFiQQI8xUd",
    "name": "github",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          432,
          272
        ],
        "id": "60b9cfac-5d1a-4f32-a466-53bdeeb69c57",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          672,
          336
        ],
        "id": "344fe5e1-e771-46a9-8095-ed8576ee45c6",
        "name": "Get many workflows1",
        "credentials": {
          "n8nApi": {
            "id": "wsjbVGuFGH50Z26Z",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "Neilcuri7"
          },
          "repository": {
            "__rl": true,
            "value": "flujos",
            "mode": "list",
            "cachedResultName": "flujos",
            "cachedResultUrl": "https://github.com/Neilcuri7/flujos"
          },
          "filePath": "=test/{{ $('Get a file').item.json.name }}",
          "fileContent": "={{ JSON.stringify($('Get many workflows1').item, null, 2) }}",
          "commitMessage": "=guardado automatico de {{ $('Get a file').item.json.name }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1712,
          496
        ],
        "id": "51b8b1bd-832f-443d-a13e-93e9744242a4",
        "name": "Edit a file",
        "webhookId": "9822c382-6c76-4244-9e9e-13db9b2540a9",
        "credentials": {
          "githubApi": {
            "id": "d5HxMNBcqh49Rv9O",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "Neilcuri7",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "flujos",
            "mode": "name"
          },
          "filePath": "=test/{{ $json.name }}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          912,
          304
        ],
        "id": "fe9b88d0-c41c-4bba-89fb-3a7fc83a4e9e",
        "name": "Get a file",
        "webhookId": "658ab6ad-c0f8-4228-9d86-6a311a1321ea",
        "credentials": {
          "githubApi": {
            "id": "d5HxMNBcqh49Rv9O",
            "name": "GitHub account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "9a4267ba-6870-48f9-9210-c4a0bba5b37f",
                "leftValue": "={{ JSON.stringify($('Get many workflows1').item.json.nodes, (key, value) => [\"id\", \"position\", \"updatedAt\"].includes(key) ? undefined : value) }}",
                "rightValue": "={{ JSON.stringify($node[\"Code in JavaScript\"].json.github_workflow.nodes, (key, value) => [\"id\", \"position\", \"updatedAt\"].includes(key) ? undefined : value) }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1472,
          416
        ],
        "id": "8ebbdf3e-ec7d-4368-8dc3-c94e999d560f",
        "name": "If"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ JSON.stringify($('Get many workflows1').item, (key, value) => [\"id\", \"updatedAt\"].includes(key) ? undefined : value, 2) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1248,
          464
        ],
        "id": "0e354750-217d-4311-b6d5-5f6f80351e83",
        "name": "Edit workflows"
      },
      {
        "parameters": {
          "jsCode": "const base64Content = $input.first().json.content.replace(/\\n/g, ''); // Limpiar saltos de línea\nconst decodedText = Buffer.from(base64Content, 'base64').toString('utf-8'); // Decodificar\nconst jsonObject = JSON.parse(decodedText); // Convertir a objeto\n\nreturn {\n  github_workflow: jsonObject\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1264,
          304
        ],
        "id": "9a85a705-b241-4be3-b967-75d6f153e140",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "7ef89ca6-66bd-48e5-98d1-685f7c5af2a7",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1104,
          176
        ],
        "id": "ec40e9a0-03a0-4365-b081-dc66c631a151",
        "name": "If1"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "Neilcuri7"
          },
          "repository": {
            "__rl": true,
            "value": "flujos",
            "mode": "list",
            "cachedResultName": "flujos",
            "cachedResultUrl": "https://github.com/Neilcuri7/flujos"
          },
          "filePath": "=test/{{ $('Get many workflows1').item.json.name }}.json",
          "fileContent": "={{ JSON.stringify($('Get many workflows1').item, (key, value) => [\"id\", \"updatedAt\"].includes(key) ? undefined : value, 2) }}",
          "commitMessage": "=Creado automatico de {{ $('Get many workflows1').item.json.name }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1376,
          160
        ],
        "id": "91861eab-c7e0-4ab5-8e16-21b483ace4c4",
        "name": "Create a file",
        "webhookId": "9822c382-6c76-4244-9e9e-13db9b2540a9",
        "credentials": {
          "githubApi": {
            "id": "d5HxMNBcqh49Rv9O",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get many workflows1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows1": {
        "main": [
          [
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit a file": {
        "main": [
          []
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [],
          [
            {
              "node": "Edit a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit workflows": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "084fa689-c590-41be-a04c-1fcf6ec2b4ad",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-09T15:19:17.105Z",
        "createdAt": "2026-03-09T15:19:17.105Z",
        "role": "workflow:owner",
        "workflowId": "irLFahWFiQQI8xUd",
        "projectId": "SsTCDhE5BizkSpAs"
      }
    ],
    "activeVersion": null,
    "tags": []
  },
  "pairedItem": {
    "item": 0
  }
}