test/github.json
{
  "github_workflow": {
    "updatedAt": "2026-03-06T22:00:54.610Z",
    "createdAt": "2026-03-02T15:34:03.903Z",
    "id": "SyGs8RTvKjyq5PJI_L7j6",
    "name": "github",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          48
        ],
        "id": "539d78e9-2c8b-4fb0-a52c-9be7cf970c03",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          240,
          48
        ],
        "id": "df4fc36f-dfff-4f8d-a8b3-4fbeb16664cf",
        "name": "Get many workflows1",
        "credentials": {
          "n8nApi": {
            "id": "wsjbVGuFGH50Z26Z",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "Neilcuri7"
          },
          "repository": {
            "__rl": true,
            "value": "flujos",
            "mode": "list",
            "cachedResultName": "flujos",
            "cachedResultUrl": "https://github.com/Neilcuri7/flujos"
          },
          "filePath": "=backups/{{$json.name}}.json",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "=guardado automatico de {{$json.name}}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          432,
          48
        ],
        "id": "b3130617-0ab1-43c0-bfa0-8984899e97d7",
        "name": "Edit a file",
        "webhookId": "9822c382-6c76-4244-9e9e-13db9b2540a9",
        "credentials": {
          "githubApi": {
            "id": "d5HxMNBcqh49Rv9O",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get many workflows1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows1": {
        "main": [
          [
            {
              "node": "Edit a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "0fcbf63a-4c74-4870-a6cb-ff5301ac2be5",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-02T15:34:03.911Z",
        "createdAt": "2026-03-02T15:34:03.911Z",
        "role": "workflow:owner",
        "workflowId": "SyGs8RTvKjyq5PJI_L7j6",
        "projectId": "wXGdfvyT0OKSL0Hm"
      }
    ],
    "activeVersion": null,
    "tags": []
  }
}